.header-21-sub {
  position: relative;
  padding-top: 20px;
  padding-bottom: 135;
}

.content-6 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 80px;
}

.content-6 .v-center {
  display: table;
  width: 100%;
}

.content-6 h3 {
  margin: 0 0 21px;
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-6 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 26px;
}
.content-6 .lead {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.content-6 .features {
 margin-top: 40px;
}

.content-6 .features h6 {
   font-size: 22px;
   font-weight: normal;
   color: #34495e;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 500;
   margin-bottom: 14px;
   text-transform: none;
}

.content-6 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 26px;
}
