language: node_js
node_js:
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-emberfs' ]; then cd .. && eval "mv $currentfolder generator-emberfs" && cd generator-emberfs; fi

