<h3>
  <i class="fa fa-tag"></i>&nbsp;&nbsp;
  {{title}}
</h3>
<hr/>
<p>{{body}}</p>

<div class="bottom-navigation">
  {{#if prev_guide}}
    {{#link-to 'guides.guide' prev_guide class="navigate-prev" }}
      <i class="fa fa-fw fa-long-arrow-left"></i>
      {{prev_guide.title}}
    {{/link-to}}  
  {{/if}}

  {{#if next_guide }}
    {{#link-to 'guides.guide' next_guide class="navigate-next pull-right"}}
      {{next_guide.title}}
      <i class="fa fa-fw fa-long-arrow-right"></i>
    {{/link-to}}
  {{/if}}
</div>
