{{partial "nav-main"}}
<div class="container">
  {{ outlet }}
</div>


<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <i class="fa fa-heart"></i>
    </p>
  </div>
</footer>
