<div class="content-6 v-center">

  <div class="header-21-sub">
    <h3>
      <i class="fa fa-magic fa-5x"></i>
      <br>
      Setting Up Gulp for Fullstack
    </h3>
    <p class="lead">A project template for fullstack development.</p>
  </div>

  <div class="container">
    <h3>
      <i class="fa fa-cubes fa-5x"></i>
      <br>
      Gulp. RequireJS. EmberJS.</h3>
    <p class="lead">NodeJS Express</p>
  </div>

  {{#each}}
    <div class="row features">
      <div class="col-md-4 col-md-offset-2">
        <h6>{{firstObject.title}}</h6>
        <p>{{firstObject.body}}</p>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <h6>{{lastObject.title}}</h6>
        <p>{{lastObject.body}}</p>
      </div>
    </div>
  {{/each}}
</div>

<section class="content-12">
  <center>
    <a class="btn btn-lg btn-danger" href="https://github.com/eguneys/gulp-ember-requirejs">
      <i class="fa fa-github-alt"></i>&nbsp;Get Started
    </a>
    <br>
    <br>
    <br>
  </center>
</section>
