<!doctype html5>
<html>
  <head>
    <title>Setting Up Gulp for Fullstack Development</title>

    <link rel="stylesheet" href="/public/assets2/styles/main.css">
    
  </head>
  <body>
    {{{body}}}

    <!--
    <script data-main="/public/assets2/scripts/app/common.js" src="/public/assets2/scripts/lib/requirejs/require.js"></script>
    -->

    <script src="/public/assets2/scripts/lib/requirejs/require.js"></script>
    <script src="/public/assets2/scripts/app/common.js"></script>
    <script>
     require.config({baseUrl: '/public/assets2/scripts/lib'});
     require(['app/main']);
    </script>

    <!--
    <script src="/public/assets2/scripts/lib/requirejs/require.js"></script>
    
    <script src="/public/assets2/scripts/app/common.js"></script>

    <script>
     require(['/public/assets2/scripts/app/common.js'], function(common) {
       require(['app/main']);
     });
    </script>
    -->
    
  </body>
</html>

